.cta {
  text-align: center;
  padding: 0 0 $pad * 6 0;

  h2 {
    margin: 24px 0 !important;
  }

  &__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    > img {
      width: 100%;
      max-width: 448px;
    }

    a {
      transform: translateY(-50%);
    }
  }
}
