.contact__hero__form {
  background: rgba($color: #000000, $alpha: 0.85);
  padding: 32px;
  border-radius: 10px;
  margin-top: 48px;
}

.page-id-19285 {
  .wpcf7-form {
    margin-bottom: 0;
  }
  .wpcf7-form {
    p {
      margin: 0 0 8px 0;
      font-size: 16px;
      color: #fff !important;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  input[type="password"],
  textarea,
  select {
    font-size: 16px;
    padding: 8px 10px;
  }
  .wpcf7-submit {
    margin: 0 0 0 0 !important;
  }
}
